ul.fileBrowser
{
	margin: 0;
	padding: 0;
	
}
ul.fileBrowser li
{
	list-style-type: none;
	padding: 5px 0 5px 15px;
	margin: 0; 
	font-size: 11px;
	font-family: Tahoma;
}

.folderNode>span
{
	margin: 0;
	padding-left: 15px;
	background-image: url(img/openFolder.png);
	background-repeat: no-repeat;
	background-position:  left top;
}

.closeFolder
{
}

.fileNode>span
{
	margin: 0;
	padding-left: 15px;
}

.hidden
{
	display: none;
}
