* {
	padding: 0;
	margin: 0;
	font-family: Calibri, Tahoma, sans-serif;
}

body {
	background-image: url(../img/loupe.png);
	background-repeat: no-repeat;
}

h1 {
	position: absolute;
	left: 70px;
	top: 10px;
	color: #fff;
	text-transform: uppercase;
	font-size: 120pt;
	-webkit-text-stroke: 10px #000;
	/*text-shadow: #808080 5px 5px 5px;*/
}
